.container{
    margin-bottom: 15px;
}

.menu{
    padding: 25px;
}

.titulo{
    background-color: rgb(221, 234, 250);
    display: inline-block;
    padding: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.titulo .header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link{
    font-size: 1.2em;
    color: navy;
}

.nav-link:hover {
    color: white;
    border-bottom: 1px solid cornflowerblue;
}